# Add any directories, files, or patterns you don't want to be tracked by version control

# remotes/origin/HEAD -> origin/master 헤드 삭제
# git branch -a
# git remote set-head origin -d

# config
config*.php
config*.js

# googleapis
google_keys.json

# dependencies
bower/
node_modules/
vendor/

# legacy
ohmyapple/
ohmyphone/
ohmyspon/
