<?- include('../header') ?>

<div class="content">
  <div class="content-header">
    <h1 class="content-title">제품</h1>
    <div class="content-extra">
      <strong><?= rows.length ?></strong>개의 제품
      <a class="btn btn-default btn-xs btn-flat refresh-btn d-none" href="#"><i class="fas fa-redo fa-fw"></i></a>
    </div>
  </div>

  <div class="content-body pb-4">
    <div class="container-fluid">
      <table class="table table-bordered table-striped">
        <thead class="table-head">
          <tr>
            <th>ID</th>
            <th class="bg-yellow">상태</th>
            <th>제품명</th>
            <th>가격</th>
            <th>등록일</th>
            <th><a class="btn btn-default btn-xs btn-flat" href="/products/new"><i class="fas fa-plus fa-fw"></i></a> <button class="btn btn-default" disabled>TEST</button></th>
          </tr>
        </thead>
        <tbody>
          <? for (var row of rows) { ?>
          <? if (row.id == 148) { ?>
          <tr class="aaa-type">
          <? } else { ?>
          <tr>
          <? } ?>
            <td class="text-center" data-num="<?= row.id ?>">
              <?= row.id ?>
            </td>
            <td class="text-center bg-yellow"><?= row.status ?></td>
            <td class="text-start"><?= row.title ?> <a href="/products/view/<?= row.id ?>"><i class="far fa-sticky-note fa-fw text-grey ml-1"></i></a></td>
            <td class="text-end"><?= row.price ?></td>
            <td class="text-center"><?= row.createdAt ?></td>
            <td class="text-center">
              <div class="btn-group">
                <a class="btn btn-default btn-xs btn-flat" href="/products/modify/<?= row.id ?>"><i class="fas fa-pen fa-fw"></i></a>
                <button class="btn btn-default btn-xs btn-flat delete-btn" type="button" data-params='{"id": <?= row.id ?>}'><i class="fas fa-times fa-fw"></i></button>
              </div>
            </td>
          </tr>
          <? } ?>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".delete-btn").on("click", function (e) {
      if (confirm("정말 삭제하시겠습니까?")) {
        $.post("/products/delete", $(this).data("params"), function(response) {
          //$(location).attr("href", $(".refresh-btn").attr("href"));
          //console.log(response);
          location.reload();
        }, "json").fail(function (xhr) {
          //toastr.error(xhr.responseText);
          console.log(xhr);
        });
      }
    });
  });
</script>

<?- include('../footer') ?>
