<?- include('../header') ?>

<div class="content">
  <div class="content-header">
    <h1 class="content-title">제품</h1>
    <div>
      <a class="btn btn-default btn-xs btn-flat list-btn" href="/products"><i class="fas fa-level-up-alt fa-rotate-270 fa-fw"></i></a>
    </div>
  </div>

  <div class="content-body">
    <div class="container-fluid">
      <strong><?= row.title ?></strong>
      <p class="pt-2"><?= row.description ?></p>
    </div>
  </div>
</div>

<?- include('../footer') ?>
