      </div>
    </div>
    
    <script src="/bower/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/custom/app.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJLB1YNXHW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "G-DJLB1YNXHW");
    </script>
    
  </body>
</html>
