<?- include('header') ?>

<div class="content">
  <div class="container-fluid text-center py-4">
    <img src="/assets/telegraf_cover.png">
  </div>
  <div class="container-fluid text-left py-4">
    <ol>
      <li>Telegraf에서 http로 Output</li>
      <li>metrics을 Parse</li>
      <li>Google sheet에 넣을 수 있게 준비</li>
      <li>Google sheet에 Append</li>
    </ol>
  </div>
</div>

<?- include('footer') ?>